crontab -e---------------------to edit the crontab file
set the job and run the below cmds
*mts0-59)      *hrs(0-23)      *day of the month(1-31)       *month(1-12)        *day of the wk(0-7-sunday)
crontab -l---------------------cron job lists
 for every 2 hrs means 00 */2
    every day         *



crond service check:::::
============================

#!/bin/bash

###edit the following
service=service_name
email=user@domain.com
###stop editing

host=`hostname -f`
if (( $(ps -ef | grep -v grep | grep $service | wc -l) > 0 ))
then
echo "$service is running"
else
/etc/init.d/$service start
if (( $(ps -ef | grep -v grep | grep $service | wc -l) > 0 ))
then
subject="$service at $host has been started"
echo "$service at $host wasn't running and has been started" | mail -s "$subject" $email
else
subject="$service at $host is not running"
echo "$service at $host is stopped and cannot be started!!!" | mail -s "$subject" $email
fi
fi
